doctype
html
	head
		title= "jackharrhy.com"
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet", href="normalize.css")
		link(rel="stylesheet", href="skeleton.css")
		link(rel="stylesheet", href="homepage.css")

	body
		canvas#canvas
		div.container
			div.row
				div(class="six columns")
					p#h1 hi, i'm jack

				div(class="six columns")
					p#h2 i make stuff

			div.row
				div(class="twelve columns")
					p #[a(mailto="jack@jackharrhy.com") email] | #[a(href="http://github.com/jackharrhy") github] | #[a(href="http://facebook.com/profile.php?id=100009973992618") facebook]

			div.row
				div(class="twelve columns project-header")
					p here are some of my projects

			each val, index in projects
				a(href=val[2])
					div(class="row project")
						div(class="three columns project-title")
							p= val[0]
						div(class="nine columns project-desc")
							p= val[1]

		script(src='homepage.js')
