doctype
html
	head
		title= "jackharrhy.com"
		link(rel="stylesheet", href="/index.css")

	body
		header
			h1 jackharrhy
			h2 i make stuff

		#wave
			canvas#canvas

		#contact
			a(href="mailto:jack@jackharrhy.com")
				p jack@jackharrhy.com

		script(src='/socket.io/socket.io.js')
		script(src='/index.js')
