doctype
html
	head
		title= "jackharrhy.com"
		link(rel="stylesheet", href="/index.css")

	body
		#wrap
			#header

			#wave
				canvas#canvas

			#contact
				a(href="mailto:jack@jackharrhy.com")
					p jack@jackharrhy.com

			script(src='/socket.io/socket.io.js')
			script(src='/divsugar.js')
			script(src='/cheet.min.js')
			script(src='/index.js')

		#coolduckpics
			img(src="/coolduckpics.jpg")
