doctype
html
	head
		title= "jackharrhy.com"
		link(rel="stylesheet", href="/index.css")

	body
		header
			h1 jackharrhy
			h2 i make stuff

		script(src='/socket.io/socket.io.js')
		script(src='/index.js')
